Importando métodos necessários

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import statistics
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split

Importando Classificadores

In [7]:
from sklearn.neighbors import KNeighborsClassifier # KNN
from sklearn.tree import DecisionTreeClassifier, export_graphviz # Árvore de decisão
from sklearn.naive_bayes import GaussianNB # Naive Bayes
from sklearn.svm import SVC # SVM
from sklearn.neural_network import MLPClassifier # MLP

Importando a base de dados

In [14]:
df = pd.read_csv("Vertebral.csv")
df.sample(frac=1)
df.head()

         A1        A2        A3        A4        A5        A6  Class
0  0.916917 -0.092150  0.530972  1.193210  0.075683  0.156835      1
1 -0.717037  0.255166 -0.661397 -1.065923  0.110390 -0.542255      1
2  0.863030  2.535417 -1.373191 -0.766786 -0.786488 -0.632201      1
3 -1.879634 -0.593594 -1.016161 -1.881891 -0.413380 -0.440434      1
4 -0.873743 -0.682270 -1.121570 -0.581824 -1.510616 -0.590939      1

In [16]:
#define o data frame sem a classe para passagem de parâmetro
df_temp = pd.DataFrame(df,columns=df.columns[:-1])
df_temp.head()

         A1        A2        A3        A4        A5        A6
0  0.916917 -0.092150  0.530972  1.193210  0.075683  0.156835
1 -0.717037  0.255166 -0.661397 -1.065923  0.110390 -0.542255
2  0.863030  2.535417 -1.373191 -0.766786 -0.786488 -0.632201
3 -1.879634 -0.593594 -1.016161 -1.881891 -0.413380 -0.440434
4 -0.873743 -0.682270 -1.121570 -0.581824 -1.510616 -0.590939

Definição dos conjuntos de treino, teste e validação

In [18]:
#divide o dataframe em treino(50%) teste(25%) e validacao(25%)
x_treino, x_resto, y_treino, y_resto=train_test_split(df_temp,df['Class'],test_size=0.5,train_size=0.5, stratify=df['Class'])
x_validacao, x_teste, y_validacao, y_teste = train_test_split(x_resto, y_resto, test_size=0.5, stratify=y_resto)

Informações dos conjuntos

In [29]:
print("Dataframe 100%")
print(df.shape)

print("Treino 50%")
print(x_treino.shape)

print("Teste 25%")
print(x_teste.shape)

print("Validação 25%")
print(x_validacao.shape)

Dataframe 100%
(300, 7)
Treino 50%
(150, 6)
Teste 25%
(75, 6)
Validação 25%
(75, 6)

Obtendo os melhores parâmetros 
KNN

In [ ]:
#KNN não ponderado